.App {
  text-align: center;
}

.App-header {
  background-color: #f57c00;
  min-height: 145px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}
